* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #34495e;
  font-family: "Source Sans Pro", "Source Han Sans SC", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
a[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
kbd {
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px !important;
  line-height: 12px;
  margin-bottom: 3px;
  padding: 3px 5px;
  vertical-align: middle;
}
li input[type='checkbox'] {
  margin: 0 0.2em 0.25em 0;
  vertical-align: middle;
}
.anchor {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}
.anchor:hover {
  text-decoration: underline;
}
.markdown-section {
  margin: 0 auto;
  max-width: 93%;
  padding: 30px 15px 40px 15px;
  position: relative;
}
.markdown-section > * {
  box-sizing: border-box;
  font-size: inherit;
}
.markdown-section > :first-child {
  margin-top: 0 !important;
}
.markdown-section hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 2em 0;
}
.markdown-section iframe {
  border: 1px solid #eee;
/* fix horizontal overflow on iOS Safari */
  width: 1px;
  min-width: 100%;
}
.markdown-section table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 1rem;
  overflow: auto;
  width: 100%;
}
.markdown-section th {
  border: 1px solid #ddd;
  font-weight: bold;
  padding: 6px 13px;
}
.markdown-section td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}
.markdown-section tr {
  border-top: 1px solid #ccc;
}
.markdown-section tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown-section p.tip {
  background-color: #f8f8f8;
  border-bottom-right-radius: 2px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative;
}
.markdown-section p.tip:before {
  background-color: #f66;
  border-radius: 100%;
  color: #fff;
  content: '!';
  font-family: 'Source Code Pro', "Roboto Mono", sans-serif;
  font-size: 14px;
  font-weight: bold;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 14px;
}
.markdown-section p.tip code {
  background-color: #efefef;
}
.markdown-section p.tip em {
  color: #34495e;
}
.markdown-section p.warn {
  background: rgba(66,185,131,0.1);
  border-radius: 2px;
  padding: 1rem;
}
.markdown-section ul.task-list > li {
  list-style-type: none;
}

@media print {
  .github-corner,
  .sidebar-toggle,
  .sidebar,
  .app-nav {
    display: none;
  }
}
.current span {
  color: #c94922;
}
body {
  background-color: #fff;
}
/* markdown content found on pages */
.markdown-section strong {
  color: #2c3e50;
  font-weight: 600;
}
.markdown-section a {
  color: #505d6b;
}
.markdown-section h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}
.markdown-section h2 {
  font-size: 1.75rem;
  margin: 45px 0 0.8rem;
}
.markdown-section h3 {
  font-size: 1.5rem;
  margin: 40px 0 0.6rem;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3 {
  font-weight: 500;
}
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.markdown-section p {
  font-family: "Source Serif Pro", "Source Han Serif SC", serif;
  font-size: 18px;
}
.markdown-section figure,
.markdown-section p {
  margin: 0.4em 0 1em 0;
}
.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  line-height: 1.6rem;
  word-spacing: 0.05rem;
}
.markdown-section ul,
.markdown-section ol {
  padding-left: 1.5rem;
}
.markdown-section blockquote {
  border-left: 4px solid var(--theme-color, #42b983);
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}
.markdown-section blockquote p {
  font-weight: 600;
  margin-left: 0;
}
.markdown-section iframe {
  margin: 1em 0;
}
.markdown-section em {
  color: #7f8c8d;
}
.markdown-section code {
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #e96900;
  font-family: "Source Code Pro", "Roboto Mono", Monaco, courier, "Source Han Mono SC", monospace;
  font-size: 0.8rem;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
}
.markdown-section pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f8f8f8;
  font-family: "Source Code Pro", "Roboto Mono", Monaco, courier, "Source Han Mono SC",  monospace;
  line-height: 1.5rem;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 1.4rem;
  position: relative;
  word-wrap: normal;
}
/* code highlight */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8e908c;
}
.token.namespace {
  opacity: 0.7;
}
.token.boolean,
.token.number {
  color: #c76b29;
}
.token.punctuation {
  color: #525252;
}
.token.property {
  color: #c08b30;
}
.token.tag {
  color: #2973b7;
}
.token.string {
  color: var(--theme-color, #42b983);
}
.token.selector {
  color: #6679cc;
}
.token.attr-name {
  color: #2973b7;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #22a2c9;
}
.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: var(--theme-color, #42b983);
}
.token.keyword,
.token.function {
  color: #e96900;
}
.token.statement,
.token.regex,
.token.atrule {
  color: #22a2c9;
}
.token.placeholder,
.token.variable {
  color: #3d8fd1;
}
.token.deleted {
  text-decoration: line-through;
}
.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}
.token.italic {
  font-style: italic;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.important {
  color: #c94922;
}
.token.entity {
  cursor: help;
}
.markdown-section pre > code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #525252;
  display: block;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8rem;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 2.2em 5px;
  white-space: inherit;
}
.markdown-section code::after,
.markdown-section code::before {
  letter-spacing: 0.05rem;
}
code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem;
  position: relative;
  left: auto;
}
pre::after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 0.6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.markdown-section h1 {
  bookmark-label: content(text);
  bookmark-level: 1;
  display: block;
  text-align: center;
}
.markdown-section h1::before {
  content: "1";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h2 {
  bookmark-label: content(text);
  bookmark-level: 2;
  display: block;
}
.markdown-section h2::before {
  content: "2";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h3 {
  bookmark-label: content(text);
  bookmark-level: 3;
  display: block;
}
.markdown-section h3::before {
  content: "3";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h4 {
  bookmark-label: content(text);
  bookmark-level: 4;
  display: block;
}
.markdown-section h4::before {
  content: "4";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h5 {
  bookmark-label: content(text);
  bookmark-level: 5;
  display: block;
}
.markdown-section h5::before {
  content: "5";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h6 {
  bookmark-label: content(text);
  bookmark-level: 6;
  display: block;
}
.markdown-section h6::before {
  content: "6";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h7 {
  bookmark-label: content(text);
  bookmark-level: 7;
  display: block;
}
.markdown-section h7::before {
  content: "7";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h8 {
  bookmark-label: content(text);
  bookmark-level: 8;
  display: block;
}
.markdown-section h8::before {
  content: "8";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h9 {
  bookmark-label: content(text);
  bookmark-level: 9;
  display: block;
}
.markdown-section h9::before {
  content: "9";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h10 {
  bookmark-label: content(text);
  bookmark-level: 10;
  display: block;
}
.markdown-section h10::before {
  content: "10";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h11 {
  bookmark-label: content(text);
  bookmark-level: 11;
  display: block;
}
.markdown-section h11::before {
  content: "11";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h12 {
  bookmark-label: content(text);
  bookmark-level: 12;
  display: block;
}
.markdown-section h12::before {
  content: "12";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h13 {
  bookmark-label: content(text);
  bookmark-level: 13;
  display: block;
}
.markdown-section h13::before {
  content: "13";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h14 {
  bookmark-label: content(text);
  bookmark-level: 14;
  display: block;
}
.markdown-section h14::before {
  content: "14";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h15 {
  bookmark-label: content(text);
  bookmark-level: 15;
  display: block;
}
.markdown-section h15::before {
  content: "15";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h16 {
  bookmark-label: content(text);
  bookmark-level: 16;
  display: block;
}
.markdown-section h16::before {
  content: "16";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h17 {
  bookmark-label: content(text);
  bookmark-level: 17;
  display: block;
}
.markdown-section h17::before {
  content: "17";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h18 {
  bookmark-label: content(text);
  bookmark-level: 18;
  display: block;
}
.markdown-section h18::before {
  content: "18";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h19 {
  bookmark-label: content(text);
  bookmark-level: 19;
  display: block;
}
.markdown-section h19::before {
  content: "19";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h20 {
  bookmark-label: content(text);
  bookmark-level: 20;
  display: block;
}
.markdown-section h20::before {
  content: "20";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h21 {
  bookmark-label: content(text);
  bookmark-level: 21;
  display: block;
}
.markdown-section h21::before {
  content: "21";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h22 {
  bookmark-label: content(text);
  bookmark-level: 22;
  display: block;
}
.markdown-section h22::before {
  content: "22";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h23 {
  bookmark-label: content(text);
  bookmark-level: 23;
  display: block;
}
.markdown-section h23::before {
  content: "23";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h24 {
  bookmark-label: content(text);
  bookmark-level: 24;
  display: block;
}
.markdown-section h24::before {
  content: "24";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h25 {
  bookmark-label: content(text);
  bookmark-level: 25;
  display: block;
}
.markdown-section h25::before {
  content: "25";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h26 {
  bookmark-label: content(text);
  bookmark-level: 26;
  display: block;
}
.markdown-section h26::before {
  content: "26";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h27 {
  bookmark-label: content(text);
  bookmark-level: 27;
  display: block;
}
.markdown-section h27::before {
  content: "27";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h28 {
  bookmark-label: content(text);
  bookmark-level: 28;
  display: block;
}
.markdown-section h28::before {
  content: "28";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h29 {
  bookmark-label: content(text);
  bookmark-level: 29;
  display: block;
}
.markdown-section h29::before {
  content: "29";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h30 {
  bookmark-label: content(text);
  bookmark-level: 30;
  display: block;
}
.markdown-section h30::before {
  content: "30";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h31 {
  bookmark-label: content(text);
  bookmark-level: 31;
  display: block;
}
.markdown-section h31::before {
  content: "31";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h32 {
  bookmark-label: content(text);
  bookmark-level: 32;
  display: block;
}
.markdown-section h32::before {
  content: "32";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h33 {
  bookmark-label: content(text);
  bookmark-level: 33;
  display: block;
}
.markdown-section h33::before {
  content: "33";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h34 {
  bookmark-label: content(text);
  bookmark-level: 34;
  display: block;
}
.markdown-section h34::before {
  content: "34";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h35 {
  bookmark-label: content(text);
  bookmark-level: 35;
  display: block;
}
.markdown-section h35::before {
  content: "35";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h36 {
  bookmark-label: content(text);
  bookmark-level: 36;
  display: block;
}
.markdown-section h36::before {
  content: "36";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h37 {
  bookmark-label: content(text);
  bookmark-level: 37;
  display: block;
}
.markdown-section h37::before {
  content: "37";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h38 {
  bookmark-label: content(text);
  bookmark-level: 38;
  display: block;
}
.markdown-section h38::before {
  content: "38";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h39 {
  bookmark-label: content(text);
  bookmark-level: 39;
  display: block;
}
.markdown-section h39::before {
  content: "39";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h40 {
  bookmark-label: content(text);
  bookmark-level: 40;
  display: block;
}
.markdown-section h40::before {
  content: "40";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h41 {
  bookmark-label: content(text);
  bookmark-level: 41;
  display: block;
}
.markdown-section h41::before {
  content: "41";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h42 {
  bookmark-label: content(text);
  bookmark-level: 42;
  display: block;
}
.markdown-section h42::before {
  content: "42";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h43 {
  bookmark-label: content(text);
  bookmark-level: 43;
  display: block;
}
.markdown-section h43::before {
  content: "43";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h44 {
  bookmark-label: content(text);
  bookmark-level: 44;
  display: block;
}
.markdown-section h44::before {
  content: "44";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h45 {
  bookmark-label: content(text);
  bookmark-level: 45;
  display: block;
}
.markdown-section h45::before {
  content: "45";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h46 {
  bookmark-label: content(text);
  bookmark-level: 46;
  display: block;
}
.markdown-section h46::before {
  content: "46";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h47 {
  bookmark-label: content(text);
  bookmark-level: 47;
  display: block;
}
.markdown-section h47::before {
  content: "47";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h48 {
  bookmark-label: content(text);
  bookmark-level: 48;
  display: block;
}
.markdown-section h48::before {
  content: "48";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h49 {
  bookmark-label: content(text);
  bookmark-level: 49;
  display: block;
}
.markdown-section h49::before {
  content: "49";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h50 {
  bookmark-label: content(text);
  bookmark-level: 50;
  display: block;
}
.markdown-section h50::before {
  content: "50";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h51 {
  bookmark-label: content(text);
  bookmark-level: 51;
  display: block;
}
.markdown-section h51::before {
  content: "51";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h52 {
  bookmark-label: content(text);
  bookmark-level: 52;
  display: block;
}
.markdown-section h52::before {
  content: "52";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h53 {
  bookmark-label: content(text);
  bookmark-level: 53;
  display: block;
}
.markdown-section h53::before {
  content: "53";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h54 {
  bookmark-label: content(text);
  bookmark-level: 54;
  display: block;
}
.markdown-section h54::before {
  content: "54";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h55 {
  bookmark-label: content(text);
  bookmark-level: 55;
  display: block;
}
.markdown-section h55::before {
  content: "55";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h56 {
  bookmark-label: content(text);
  bookmark-level: 56;
  display: block;
}
.markdown-section h56::before {
  content: "56";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h57 {
  bookmark-label: content(text);
  bookmark-level: 57;
  display: block;
}
.markdown-section h57::before {
  content: "57";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h58 {
  bookmark-label: content(text);
  bookmark-level: 58;
  display: block;
}
.markdown-section h58::before {
  content: "58";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h59 {
  bookmark-label: content(text);
  bookmark-level: 59;
  display: block;
}
.markdown-section h59::before {
  content: "59";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h60 {
  bookmark-label: content(text);
  bookmark-level: 60;
  display: block;
}
.markdown-section h60::before {
  content: "60";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h61 {
  bookmark-label: content(text);
  bookmark-level: 61;
  display: block;
}
.markdown-section h61::before {
  content: "61";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h62 {
  bookmark-label: content(text);
  bookmark-level: 62;
  display: block;
}
.markdown-section h62::before {
  content: "62";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h63 {
  bookmark-label: content(text);
  bookmark-level: 63;
  display: block;
}
.markdown-section h63::before {
  content: "63";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h64 {
  bookmark-label: content(text);
  bookmark-level: 64;
  display: block;
}
.markdown-section h64::before {
  content: "64";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h65 {
  bookmark-label: content(text);
  bookmark-level: 65;
  display: block;
}
.markdown-section h65::before {
  content: "65";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h66 {
  bookmark-label: content(text);
  bookmark-level: 66;
  display: block;
}
.markdown-section h66::before {
  content: "66";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h67 {
  bookmark-label: content(text);
  bookmark-level: 67;
  display: block;
}
.markdown-section h67::before {
  content: "67";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h68 {
  bookmark-label: content(text);
  bookmark-level: 68;
  display: block;
}
.markdown-section h68::before {
  content: "68";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h69 {
  bookmark-label: content(text);
  bookmark-level: 69;
  display: block;
}
.markdown-section h69::before {
  content: "69";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h70 {
  bookmark-label: content(text);
  bookmark-level: 70;
  display: block;
}
.markdown-section h70::before {
  content: "70";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h71 {
  bookmark-label: content(text);
  bookmark-level: 71;
  display: block;
}
.markdown-section h71::before {
  content: "71";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h72 {
  bookmark-label: content(text);
  bookmark-level: 72;
  display: block;
}
.markdown-section h72::before {
  content: "72";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h73 {
  bookmark-label: content(text);
  bookmark-level: 73;
  display: block;
}
.markdown-section h73::before {
  content: "73";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h74 {
  bookmark-label: content(text);
  bookmark-level: 74;
  display: block;
}
.markdown-section h74::before {
  content: "74";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h75 {
  bookmark-label: content(text);
  bookmark-level: 75;
  display: block;
}
.markdown-section h75::before {
  content: "75";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h76 {
  bookmark-label: content(text);
  bookmark-level: 76;
  display: block;
}
.markdown-section h76::before {
  content: "76";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h77 {
  bookmark-label: content(text);
  bookmark-level: 77;
  display: block;
}
.markdown-section h77::before {
  content: "77";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h78 {
  bookmark-label: content(text);
  bookmark-level: 78;
  display: block;
}
.markdown-section h78::before {
  content: "78";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h79 {
  bookmark-label: content(text);
  bookmark-level: 79;
  display: block;
}
.markdown-section h79::before {
  content: "79";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h80 {
  bookmark-label: content(text);
  bookmark-level: 80;
  display: block;
}
.markdown-section h80::before {
  content: "80";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h81 {
  bookmark-label: content(text);
  bookmark-level: 81;
  display: block;
}
.markdown-section h81::before {
  content: "81";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h82 {
  bookmark-label: content(text);
  bookmark-level: 82;
  display: block;
}
.markdown-section h82::before {
  content: "82";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h83 {
  bookmark-label: content(text);
  bookmark-level: 83;
  display: block;
}
.markdown-section h83::before {
  content: "83";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h84 {
  bookmark-label: content(text);
  bookmark-level: 84;
  display: block;
}
.markdown-section h84::before {
  content: "84";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h85 {
  bookmark-label: content(text);
  bookmark-level: 85;
  display: block;
}
.markdown-section h85::before {
  content: "85";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h86 {
  bookmark-label: content(text);
  bookmark-level: 86;
  display: block;
}
.markdown-section h86::before {
  content: "86";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h87 {
  bookmark-label: content(text);
  bookmark-level: 87;
  display: block;
}
.markdown-section h87::before {
  content: "87";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h88 {
  bookmark-label: content(text);
  bookmark-level: 88;
  display: block;
}
.markdown-section h88::before {
  content: "88";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h89 {
  bookmark-label: content(text);
  bookmark-level: 89;
  display: block;
}
.markdown-section h89::before {
  content: "89";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h90 {
  bookmark-label: content(text);
  bookmark-level: 90;
  display: block;
}
.markdown-section h90::before {
  content: "90";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h91 {
  bookmark-label: content(text);
  bookmark-level: 91;
  display: block;
}
.markdown-section h91::before {
  content: "91";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h92 {
  bookmark-label: content(text);
  bookmark-level: 92;
  display: block;
}
.markdown-section h92::before {
  content: "92";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h93 {
  bookmark-label: content(text);
  bookmark-level: 93;
  display: block;
}
.markdown-section h93::before {
  content: "93";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h94 {
  bookmark-label: content(text);
  bookmark-level: 94;
  display: block;
}
.markdown-section h94::before {
  content: "94";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h95 {
  bookmark-label: content(text);
  bookmark-level: 95;
  display: block;
}
.markdown-section h95::before {
  content: "95";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h96 {
  bookmark-label: content(text);
  bookmark-level: 96;
  display: block;
}
.markdown-section h96::before {
  content: "96";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h97 {
  bookmark-label: content(text);
  bookmark-level: 97;
  display: block;
}
.markdown-section h97::before {
  content: "97";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h98 {
  bookmark-label: content(text);
  bookmark-level: 98;
  display: block;
}
.markdown-section h98::before {
  content: "98";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h99 {
  bookmark-label: content(text);
  bookmark-level: 99;
  display: block;
}
.markdown-section h99::before {
  content: "99";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h100 {
  bookmark-label: content(text);
  bookmark-level: 100;
  display: block;
}
.markdown-section h100::before {
  content: "100";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h101 {
  bookmark-label: content(text);
  bookmark-level: 101;
  display: block;
}
.markdown-section h101::before {
  content: "101";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h102 {
  bookmark-label: content(text);
  bookmark-level: 102;
  display: block;
}
.markdown-section h102::before {
  content: "102";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h103 {
  bookmark-label: content(text);
  bookmark-level: 103;
  display: block;
}
.markdown-section h103::before {
  content: "103";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h104 {
  bookmark-label: content(text);
  bookmark-level: 104;
  display: block;
}
.markdown-section h104::before {
  content: "104";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h105 {
  bookmark-label: content(text);
  bookmark-level: 105;
  display: block;
}
.markdown-section h105::before {
  content: "105";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h106 {
  bookmark-label: content(text);
  bookmark-level: 106;
  display: block;
}
.markdown-section h106::before {
  content: "106";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h107 {
  bookmark-label: content(text);
  bookmark-level: 107;
  display: block;
}
.markdown-section h107::before {
  content: "107";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
.markdown-section h108 {
  bookmark-label: content(text);
  bookmark-level: 108;
  display: block;
}
.markdown-section h108::before {
  content: "108";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
